html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.5));
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 4/3) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 450px) {
    .container {
        width: 80%;
        height: auto;
    }
}